.background-dashboard {
    background:url('../../assets/images/dashboard-main.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.section-main {
    height: 300px;
}

@media (min-width:768px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
}